* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 23px;


}


body,
html {
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

a {
    font-family: 'Heebo', sans-serif;

    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Major Mono Display', monospace;

    font-family: 'Manrope', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Mukta', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

.main-content div {


    width: 76%;
}


.begin img {

    box-shadow: 0px 0px 10px #ff640c, 0px 0px 5px #ff640c inset;
    border: 1px solid #ff640c;
    border-radius: 100px;
}



h1 {
    color: #ff640c;
    font-family: 'Heebo', sans-serif;

    font-family: 'Major Mono Display', monospace;

    font-family: 'Manrope', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Mukta', sans-serif;

    font-family: 'Noto Sans', sans-serif;

    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;


    text-shadow: 0px 0px 5px #ff640c, 0px 0px 3px rgb(161, 47, 5);
    /* text-shadow: 0 0 10px #ff640c, 0 0 40px #ff640c, 0 0 70px #ff640c;*/
}

main h3 {

    width: max-content;
    color: #ff640c;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 50px;

}



.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "h h"
        "m m"
        "f f";
    grid-template-rows: 1fr;
    grid-template-rows: 50px 4fr 40px;
}

header {

    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
    padding-right: 40px;
    border-bottom: 2px solid #ff640c;
    align-items: center;
    grid-area: h;
    gap: 15px;



}

header a,
#print {
    width: 120px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    position: relative;
    border-radius: 20px;
    background-color: #111;
    color: rgb(73, 69, 69);
    text-decoration: none;
    font-size: 17px;

    text-transform: uppercase;

    border: 1px solid black;
}

#print {
    margin-top: 60px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 200px;
    height: 30px;
    text-align: center;
    border-radius: 2px;
    background-color: #111;
    color: rgb(73, 69, 69);
    border: 1px solid #ff640c;
    text-transform: uppercase;


}


header a:hover,
#print:hover {
    background: linear-gradient(90deg, #ff640c, #f16100, rgb(221, 74, 5), #e7630bea);
    background-size: 400%;
    color: rgb(0, 0, 0);


}

header a:before,
#print:before {
    content: ' ';
    position: absolute;
    background: inherit;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: 20px;
    filter: blur(20px);
    opacity: 0;
    transition: opacity 0.5s;
}

header a:hover:before,
#print:before {

    opacity: 1;
    z-index: -1;
}

header a:hover,
#print:hover {
    z-index: 1;
    animation: glow 8s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.links {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: center;
    align-content: center;
    align-items: center;
}


#instagram,
#linkedin,
#github {
    font-size: 5em;
    padding: 10px 20px;
    margin: 20px 30px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0),
        10px 10px 12px rgb(0, 0, 0),
        inset 2px 2px 10px rgb(0, 0, 0),
        inset 2px 2px 10px rgb(0, 0, 0),
        inset 2px 2px 10px rgb(0, 0, 0),
        inset 2px 2px 10px rgb(0, 0, 0);
    text-shadow: 0px 0px 30px #ff640c,
        0px 0px 30px #ff640c,
        0px 0px 40px #ff640c,
        0px 0px 30px #ff640c;
    animation: animate 3s linear infinite;


}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(20deg);
    }
}

#linkedin {
    animation-delay: 0.2s;
}

#github {
    animation-delay: 0.5s;
}

#intagram {
    animation-delay: 1s;

}



main {
    margin: 0 auto;
    color: white;
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.begin {

    background-color: #ff640c;
    width: 100%;
    height: 300px;
    background-image: url('/house-7542049.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center right;
}

.begin p:nth-child(1) {
    color: #000000;
    font-size: 30px;
}

.begin h2 {
    color: #000000;
    font-size: 60px;
}

.begin p {
    color: #000000;
    font-size: 20px;
}

.begin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.curriculo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.contents {
    padding-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.contents div:nth-child(2) {
    margin-right: 100px;
}

.contents div {


    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.contents h1 {
    font-size: 40px;

}



.main-content {

    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;


    text-align: left;
}

.sobre {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    text-align: left;
}

.portfolio {
    width: 100%;
    padding: 100px;
    color: #ff640c;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 2px #ff640c, 0px 0px 5px #ff640c inset;
    background-color: rgb(0, 0, 0);

}









footer {
    display: flex;
    justify-content: space-around;
    font-size: 9px;
    border-top: solid 2px #ff640c;
    background-color: #ff640c;

    grid-area: f;
}

@media only screen and (max-width: 480px) {
    header p {
        display: none;
    }

    header {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 600px) {
    .portfolio a {
        margin-top: 40px;
    }

    header {
        justify-content: space-around;
    }
}

@media only screen and (max-width: 720px) {
    .contents {
        flex-direction: column;
        align-content: center;


    }

    .contents div:nth-child(2) {
        margin-right: 0;
    }

    .curriculo {
        align-items: center;
    }
}