* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;

}

img {
    width: 100px;
    background-color: aqua;

}

h1 {
    margin: 30px;
}

.conteiner {
    height: 100vh;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 50px;


}

header {
    background-color: rgb(255, 68, 0);
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid;
    position: static;
    align-items: center;



}

header a {
    color: black;
    text-decoration: none;
    font-size: 23px;
    margin-right: 15px;
}

header a:hover {
    color: rgb(255, 255, 255);



}

header div:nth-child(2) {
    align-items: center;
}

main {
    font-size: 30px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://img.freepik.com/fotos-gratis/plano-de-fundo-texturizado-com-pincelada-bege_53876-129531.jpg?w=900&t=st=1668532140~exp=1668532740~hmac=aea8e3ec1441a475415e73f62bc655548c111add062307d75c5be78dcf9783ae);


}



.curriculo {

    display: flex;
    flex-direction: column;
    border-top: solid 2px #f2511b;
    background-color: rgb(0, 0, 0);
}

.curriculo div:nth-child(1) {
    color: white;
    display: flex;
    flex-direction: row;

}

.links {

    color: #f2511b;
    align-items: center;
    align-self: center;
    margin-bottom: 10px;
}

ion-icon {
    font-size: 100px;
    color: #f2511b;
}

ion-icon::before {

    position: absolute;
    top: 120%;


}

.portfolio {
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: center;
    border-top: solid 2px #f2511b;
}

.portfolio ul {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

.portfolio li {


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    align-items: center;
}

.portfolio img {
    border: solid 2px #f2511b;
    width: 180px;
    border-radius: 20%;

}

footer {
    border-top: solid 2px black;
    background-color: #f2511b;
}