footer {
  padding-top: 5rem !important;
  padding-bottom: 2rem !important;
  background: var(--color-background-paper);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  color: var(--color-text-secondary);
}
