:root {
  /* Primary Colors (shared between light and dark) */
  --color-primary-main: #0da81d;
  --color-primary-light: #0b8b18;
  --color-primary-dark: #064f0d;

  /* Secondary Colors (shared between light and dark) */
  --color-secondary-main: #2e38ff;
  --color-secondary-light: #9ef3f3;
  --color-secondary-dark: #022445;

  /* Text Colors (shared between light and dark) */
  --color-text-secondary: #ffffff;

  /* Font Weight */
  --weight-text-light: 300;
  --weight-text-regular: 400;
  --weight-text-normal: 500;
  --weight-text-bold: 700;

  /* Padding */
  --padding-page: 1.25rem 0.938rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: var(--color-background-default);
  color: var(--color-text-primary);
  overflow-x: hidden;
}

#root {
  width: 100%;
}
}

/* Dark Mode Specific */
body[data-theme="dark"] {
  /* Background Colors */
  --color-background-default: #131a14;
  --color-background-paper: #111712;

  /* Text Colors */
  --color-text-primary: #ffffff;
}

/* Light Mode Specific */
body[data-theme="light"] {
  /* Background Colors */
  --color-background-default: #ffffff;
  --color-background-paper: #111712;

  /* Text Colors */
  --color-text-primary: #131a14;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
